@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.animate {
  background: linear-gradient(to right, #663399, #bc027f, #c1f600);
  background-clip: text;
  background-size: 300% 300%;
  color: transparent;
  animation: shine 3s linear infinite;
}
@keyframes shine {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
