@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.animate {
  animation: shine 1s linear infinite;
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}
