<html>
  <head>
    <title>reCAPTCHA demo: Simple page</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
    <form
      action="http://127.0.0.1:5000/api/forms/12345/verification"
      method="POST"
    >
      <div
        class="g-recaptcha"
        data-sitekey="6LeNjX4aAAAAAIV430rvXy5qsWHDLmbBK3NiVIwe"
      ></div>
      <br />
      <input type="name" name="name" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
