<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>reCAPTCHA demo: Simple page</title>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link href="/style.css" rel="stylesheet" />

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>

  <body>
    <div class="max-w-7xl mx-auto my-auto py-12 px-4 sm:px-6 lg:px-8">
      <div class="max-w-2xl mx-auto">
        <div class="bg-white overflow-hidden shadow rounded-lg">
          <div class="px-4 py-5 sm:px-6 flex justify-between">
            <!-- This svg depends on status -->
          </div>
          <div class="px-4 py-5 sm:p-6 flex justify-center">
            <h1 class="text-4xl font-extrabold text-center"><%=heading%></h1>
            <p class="text-xl text-center mt-2"><%=message%></p>
          </div>
          <div class="px-4 py-5 sm:px-6">
            <!-- @TODO -> replace below string with backend URL and correct FORMID -->
            <form
              action="http://127.0.0.1:5000/api/forms/12345/verification"
              method="POST"
            >
              <div
                class="g-recaptcha"
                data-sitekey="6LeNjX4aAAAAAIV430rvXy5qsWHDLmbBK3NiVIwe"
              ></div>
              <br />
              <input type="name" name="name" />
              <input type="submit" value="Submit" />
            </form>

            <div class="flex justify-center">
              <button
                onclick="goBack()"
                class="iinline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow text-white bg-yellow-600 hover:bg-yellow-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500"
              >
                Go back
              </button>
            </div>
          </div>
        </div>
      </div>
      <div>
        <h1 class="text-center text-muted text-gray-500 mt-2">
          <!-- TODO : Add link here -->
          Forms made simple by Formify
        </h1>
      </div>
    </div>
  </body>
</html>
